
{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb",
    "plugin:react/recommended"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreComments": false
      }
    ],
    "no-underscore-dangle": "off",
    "jsx-filename-extension": "off",
    "no-extraneous-dependencies": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]

  }
}